.container {
  padding: 0 20px;
  max-width: 850px;
  margin: 0 auto;
}

.header {
  margin: 7.5vh 0 5vh;
}

.plus {
  font-size: 20px;
  margin: 0 20px;
}

.heading {
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 3px solid #ffffff;
  font-size: 16px;
  opacity: 0.8;
}

@media (prefers-color-scheme: dark) {
  .heading {
    border-color: #343539;
  }
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  padding-left: 10px;
  border-bottom: 1px dashed #ffffff;
}

.post h3 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.postDescription {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 12px;
}

.postDate{
  margin: 5px 0;
  opacity: 0.75;
}
.postDate span{
  font-weight: bold;
}

.postTagsTitle{
  font-weight: bold;
  opacity: 0.75;
}

.tag{
  padding: 3px 5px;
  border-radius: 45%;
  border: 1px solid #ffffff ;
  background-color: #00ffe59e;
}